.clientsAdminPage__wrapper {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.clientsAdminPage__container {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    width: 200px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    gap: 5px;
}

.clientsAdminPage__text {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .clientsAdminPage__container  {
        width: 150px;
    }
}