.my-messages__section {
    min-height: 80vh;
}

.message__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    gap: 10px;
}

.message__container {
    list-style-type: none;
    padding: 10px;
    width: 100%;
    max-width: 1100px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid var(--light-grey-color);
    border-radius: 20px;
    box-shadow: 0 3px 6px #999;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message__container:hover {
    height: 105px;
    background-color: var(--light-grey-color);
}

.my-messages__no-length-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-messages__no-length-text-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 0;
}

.message__text {
    margin: 0;
    margin-top: 10px;
    width: 90%;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
} 

.message__item-info-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    color: black;
    font-weight: 700;
    max-width: 100%;
    border-bottom: 1px solid var(--light-grey-color);
}

.message__item-info-wrapper {
    display: flex;
    margin: 0;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.message__sender-name {
    margin: 0;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.message__item-name {
    margin: 0;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.message__item-price {
    margin: 0;
    width: 30%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.one-message__wrapper {
    width: 100%;
}

.message__item-pic {
    border-radius: 50%;
    width: 78px;
    height: 78px; 
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__no-pic-container {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.message__no-pic {
    width: 30px;
    height: 30px;
}

.message__main-pic-wrapper {
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    margin: 0;
    border: 1px solid var(--light-grey-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__container-link {
    text-decoration: none;
    color: black;
    width: 80%;
}

.message__unread-message-badge {
    background-image: url(../../../images/newmessage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    /*position: absolute;
    top: -15px;
    right: -15px;*/
    font-size: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    /* Положение по горизонтали */
    width: 20px; /* Ширина уголка */
    height: 20px; /* Высота уголка */
}

.message__container_deleted {
    opacity: 0.2;
}

.message__delete_btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    align-self: flex-start;
    margin-top: 15px;
    border: 1px;
}

.message__delete_btn:hover {
    opacity: 1 !important;
    border: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    color: #fff;
}

.message__btn-container {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 550px) {
    .message__item-info-wrapper {
        gap: 10px;
    }
    .message__item-name {
        width: 30%;
    }

    .message__item-price {
        width: 20%;
    }

    .message__sender-name {
        width: 30%;
    }

    .message__main-pic-wrapper {
        width: 60px;
        height: 60px; 
    }

    .message__no-pic-container {
        width: 60px;
        height: 60px; 
    }

    .message__item-pic {
        width: 58px;
        height: 58px; 
    }

    .message__item-info-container {
        font-size: 12px;
    }

    .message__text {
        font-size: 12px;
        max-width: 80%;
        width: 80%;
    }

    .message__container {
        height: 80px;
    }
    .message__container:hover {
        height: 82px; 
    }

    .message__btn-container {
        bottom: 0px;
        right: 0px;
    }
}

@media screen and (max-width: 450px) {
    .one-message__wrapper {
        width: 100%; 
    }
}