.categoryCardContainerAdmin {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.btn__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

.categoryCardAdmin {
    border: 2px solid #1f1f1f;
    border-radius: 20px;
    list-style-type: none;
    padding: 10px;
}
