.ModerationAdminPage__card {
    list-style-type: none;
    border: 5px solid rgb(150, 190, 236);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
}
.ModerationAdminPage__wrapper {
    padding: 0;
    display: flex;
    max-width: 100%;
    gap: 10px;
    flex-direction: column;
}

.ModerationAdminPage__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.ModerationAdminPage__string {
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: #1f1f1f;
}

.ModerationAdminPage__img-container {
    display: flex;
    gap: 10px;
}

.ModerationAdminPage__consent-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.ModerationAdminPage__no-consent-btn {
    width: fit-content;
}    

.ModerationAdminPage-pic {
    width: 300px;
    height: 400px;

    object-fit: contain;
}

.ModerationAdminPage__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1000px) {
    .ModerationAdminPage__container {
        padding: 0;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        gap: 10px;
    
        margin: auto;
    }

    .ModerationAdminPage__img-container {
        flex-wrap: wrap;
    }
}    