.categoryPage-listings-container {
    padding: 0;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.categoryPage-main-container {
    min-height: 80vh;
}

.categoryPage-categories-container{
    padding: 0;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .categoryPage-categories-container {
        margin-top: 0;
    }
}

.categoryPage__ads-length-title {
    font-size: 14px;
    max-width: 95%;
    text-align: center;
    margin-right: 0px;
    margin-top: 30px;
}