.myFavoritesPage-listings-container {
    padding: 0;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.myFavoritesPage-main-container {
    min-height: 85vh;
}

.myFavoritesPage-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.myFavoritesPage-link:hover {
    opacity: 0.7;
}

.myFavoritesPage-main-container_empty {
    min-height: 80vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: auto;
}

.myFavoritesPage-back-btn {
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}
