.main__title {
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px;
    font-family: "Martel", serif;
    font-weight: 600;
}

.main__section {
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}