.main__title {
    cursor: pointer;
    font-size: 14px;
}

.main__section {
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}