.main__title {
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px;
    font-family: "Martel", serif;
    /*font-family: "Source Serif 4", serif;*/
    font-weight: 600;
    /*font-family: 'Oxygen';
    
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    */
}

.main__section {
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}