.logo-container {
    text-decoration: none;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

.logo {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-image: url(../../images/goodslogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 550px) {
    .logo {
      font-size: 18px;
      font-weight: 700;
    }

    .logo-container {
      gap: 10px;
    } 
  }
  
  @media screen and (max-width: 360px) { 
    .logo-img {
      width: 70px;
      height: 70px;
    }
  }

  @media screen and (max-width: 310px) {
    .logo {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 276px) {
    .logo {
      font-size: 12px;
    }
  }