.MainSearchEngine-form {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    margin-top: 50px;
}

.MainSearchEngine-input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #1f1f1f;
    padding-left: 40px;
    font-size: 14px;
}

.MainSearchEngine-btn {
    width: 120px;
    height: 100%;
    border-radius: 20px;
    background-color: #1f1f1f;
    border: 2px solid #1f1f1f;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.MainSearchEngine-btn:hover {
    opacity: 0.8;
}


.MainSearchEngine-btn-container {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    display: flex;
}

.MainSearchEngine-reset-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.7;
    font-size: 16px;
}

.MainSearchEngine-filter-btn {
    position: absolute;
    left: 10px;
    top: 13px;
    opacity: 0.7;
    cursor: pointer;
    width: 20px;
    height: 20px;
} 

@media screen and (max-width: 630px) {
    .MainSearchEngine-form {
        width: 95%;
        min-width: 260px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }

    .MainSearchEngine-filter-btn {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 17px;
        height: 17px;
    } 

    .MainSearchEngine-input {
        
        height: 30px;
        padding-left: 30px;
        font-size: 12px;
    }
    
    .MainSearchEngine-btn {
        width: 120px;
        height: 100%; 
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .MainSearchEngine-btn {
        width: 100px;
    }
}