.MainSearchEngine-form {
    display: flex;
    width: 400px;
    
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 500px) {
    .MainSearchEngine-form {
        width: calc(100% - 40px);
        min-width: 260px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.MainSearchEngine-input {
    width: 100%;
    
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    
}

.MainSearchEngine-btn {
    width: 120px;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    
    position: absolute;
    right: 0px;
    top: 0;
}

.MainSearchEngine-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .MainSearchEngine-btn {
        width: 100px;
    }
}