.MainSearchEngine-form {
    display: flex;
    max-width: 500px;
    min-width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .MainSearchEngine-form {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 500px) {
    .MainSearchEngine-form {
        width: calc(100% - 40px);
        min-width: 260px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


.MainSearchEngine-input {
    width: 75%;
    
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .MainSearchEngine-input {
        width: 100%;
    }
}

.MainSearchEngine-btn {
    width: 20%;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 30px;
    margin: 10px;
}

.MainSearchEngine-btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 550px) {
    .MainSearchEngine-btn {
        width: 40%;
    }
}