.myPage__info-container {
    display: flex;
}

.myPage__info-wrapper {
    display: flex;
    flex-direction: column;
}

.myPage__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

.myPage__name {

}
.myPage__my-rating {

}

.myPage-listings-container {
    padding: 0;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}
      