.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 120px;
    height: 180px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-pic-container {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid rgb(255, 140, 0);
    border: 2px solid #e4e6e7;
}

.category-pic {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.category-pic:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.category-title {
    font-size: 18px;
    margin-bottom: 0;
}

.category-title:hover {
    opacity: 0.7;
}

.category__link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .category-container {
        width: 110px;
        height: 170px;
        margin-bottom: 5px;
    }

    .category-pic-container {
        width: 110px;
        height: 110px;
    }

    .category-pic {
        width: 106px;
        height: 106px;
    }

    .category-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .category-title {
        font-size: 14px;
    }

    .category-container {
        width: 90px;
        height: 140px;
        margin-bottom: 5px;
    }

    .category-pic-container {
        width: 80px;
        height: 80px;
    }

    .category-pic {
        width: 76px;
        height: 76px;
    }
}

@media screen and (max-width: 400px) {
    .category-title {
        margin-top: 0px;
        font-size: 12px;
    }

    .category-container {
        width: 80px;
        height: 110px;
       
    }

    .category-pic-container {
        width: 80px;
        height: 80px;
    }

    .category-pic {
        width: 76px;
        height: 76px;
    }
}

@media screen and (max-width: 380px) {

    .category-container {
        width: 75px;
        height: 110px;
    }

    .category-pic-container {
        width: 75px;
        height: 75px;
    }

    .category-pic {
        width: 71px;
        height: 71px;
    }
}

