.category-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 110px;
    height: 140px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .category-container {
        width: 90px;
        height: 120px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 450px) {
    .category-container {
        width: 70px;
        height: 85px;
       
    }
}

.category-pic-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(255, 140, 0);
    border: 2px solid #e4e6e7;
}

@media screen and (max-width: 600px) {
    .category-pic-container {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 450px) {
    .category-pic-container {
        width: 60px;
        height: 60px;
    }
}

.category-pic {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

@media screen and (max-width: 600px) {
    .category-pic {
        width: 76px;
        height: 76px;
    }
}

@media screen and (max-width: 450px) {
    .category-pic {
        width: 56px;
        height: 56px;
    }
}

.category-pic:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.category-title {
    font-size: 12px;
    margin-bottom: 0;
}

.category-title:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .category-title {
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .category-title {
        margin-top: 0px;
        font-size: 8px;
    }
}

.category__link {
    text-decoration: none;
    color: black;
}