.myFavoritesPage-listings-container {
    padding: 0;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.myFavoritesPage-main-container {
    min-height: 100vh;
}

.myFavoritesPage-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.myFavoritesPage-link:hover {
    opacity: 0.7;
}
