.rulesPublicationsPage__section {
    min-height: 70vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rulesPublicationsPage__title {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 26px;
    text-transform: uppercase;
    color: rgb(16,21,133);
    font-family: "Mulish", sans-serif;
}

.rulesPublicationsPage__subtitle {
    font-size: 14px;
    margin-top: 0;
    font-family: "Mulish", sans-serif;
}

.rulesPublicationsPage__rules-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 800px;
    
}

.rulesPublicationsPage__rule-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rulesPublicationsPage__rule-subtitle {
    font-size: 18px;
    font-family: "Mulish", sans-serif;
}

.rulesPublicationsPage__text {
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
    align-self: flex-start;
    font-size: 18px;
    padding: 0;

    line-height: normal;
}

.rulesPublicationsPage__maintext {
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
    align-self: center;
    font-size: 18px;
    max-width: 600px;
}
.cards__container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0;
    justify-content: center;
    align-self: center;
}

.aboutGoodsPage__title {
    margin: 0;
    margin-bottom: 25px;
    text-align: start;
    align-self: flex-start;
    font-size: 18px;
    padding: 0;
}

.cards__oneCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(140,186,255);
    box-shadow: 0 4px 12px rgba(140, 186, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    list-style-type: none;
    background-color: transparent;
}

.rulesPublicationsPage__sectionTitle {
    text-transform: uppercase;
    font-size: 26px;
    color: rgb(16,21,133);
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.cards__subtitle {
    font-size: 20px;
    margin-top: 0;
    color: rgb(16,21,133);
    margin-bottom: 0;
    font-family: "Mulish", sans-serif;
}

.goal__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-self: center;
}

.goal__card {
    border: 1px solid var(--light-grey-color);
    color: rgb(16,21,133);
    border-radius: 10px;
    padding: 20px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    text-align: start;
    font-size: 18px;
}

.goal__card__gaps {
    display: flex;
    padding: 0;
    gap: 20px;
    flex-direction: column;
}

.about__container {
    display: flex;
    gap: 20px;
}

.about__logo {
    width: 400px;
    height: 400px;
    background-image: url(../../images/aboutlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
  }

.rulesPublicationsPage__sectionTitle__container {
    width: 100%;
    height: 150px;
    background-image: url(../../images/AboutPageImages/GoodsTitleBG.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    display: flex;
}  

.goal__card__smallpic__container {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.goal__card__vpic {
    width: 50px;
    height: 50px;
    background-image: url(../../images/AboutPageImages/v.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    flex-shrink: 0;
}

.goal__card__smallpic10 {
    width: 50px;
    height: 50px;
    background-image: url(../../images/AboutPageImages/pics/10.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    flex-shrink: 0;
}

.goal__card__smallpic12 {
    width: 50px;
    height: 50px;
    background-image: url(../../images/AboutPageImages/pics/12.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    flex-shrink: 0;
}

.goal__card__smallpic13 {
    width: 50px;
    height: 50px;
    background-image: url(../../images/AboutPageImages/pics/13.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    flex-shrink: 0;
}

.goal__card__smallpic14 {
    width: 50px;
    height: 50px;
    background-image: url(../../images/AboutPageImages/pics/14.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-self: center;
    background-size: contain;
    margin: 0;
    flex-shrink: 0;
}


@media screen and (max-width: 1000px) {
    .about__logo {
        width: 200px;
        height: 200px;
    }

    .rulesPublicationsPage__sectionTitle__container {
        height: 100px;
        margin-top: 25px;
        margin-bottom: 25px;
    } 

}  

@media screen and (max-width: 850px) {
    .about__container {
        flex-direction: column;
    }

    .rulesPublicationsPage__maintext {
        margin-bottom: 20px;
        text-align: center;
        align-self: center;
        font-size: 18px;
    }

    .about__logo {
        width: 300px;
        height: 300px;
    }
} 

@media screen and (max-width: 500px) {
    .goal__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .goal__card {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .rulesPublicationsPage__sectionTitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .cards__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    .rulesPublicationsPage__rule-subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .rulesPublicationsPage__section {
        padding-top: 0px;
    }
} 

@media screen and (max-width: 500px) {
    .rulesPublicationsPage__title {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .rulesPublicationsPage__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .about__logo {
        width: 250px;
        height: 250px;
    }
}    