.header_container {
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--light-grey-color);
    height: 70px;
    height: 90px;
}

.header {
    justify-content: space-between;
    align-items: center;
    margin: auto;
}  
  
.header_logo {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}
  
.header_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}

.header_login-link {
    color: black;
    cursor: pointer;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}
  .header_login-link:hover{
    opacity: 0.5;
  }
  
  @media screen and (max-width: 336px) {
    .header_login-link {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 319px) {
    .header_login-link {
      font-size: 8px;
    }
  }
  
  .header_registraion-link {
    color: black;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
  }
  .header_registraion-link:hover{
    opacity: 0.5;
  }
  
  .header_LogOut-btn {
    color: black;
    cursor: pointer;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
  }
  
  .header_LogOut-btn:hover{
    opacity: 0.5;
  }
  
  @media screen and (max-width: 325px) {
    .header_LogOut-btn {
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 319px) {
    .header_LogOut-btn {
      font-size: 8px;
    }
  }
  
  .header__langpic:hover {
    opacity: 0.6;
    transition: 1s;
  }
  
  .header__langpic-container {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 950px) {
    .header__langpic-container {
      display: none;
    }
  }

.header_logo-container {
    text-decoration: none;
    height: 30px;
    
    border-radius: 30px;
    padding: 10px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.header_add-announcement-btn {
    height: 40px;
    background-color: #fff;
    border-radius: 35px;
    cursor: pointer;
    color: black;
    border: none;
    margin-right: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Martel", serif;
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    font-weight: 500;
}

.header_add-announcement-btn:hover {
    background-color: black;
    opacity: 0.9;
    color: #fff;
}

.header_favorite-btn {
    background-image: url(../../images/like.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.header_favorite-btn:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.header_link{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__links-container {
    display: flex;
}

.header__lang-container {
    display: flex;
}

.header__lang-btn {
    width: 35px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: transparent;
    margin-right: 3px;
    font-size: 10px;
    font-weight: 700;
}

.header__lang-btn:last-of-type {
    margin-right: 0;
}

.header__lang-btn:hover {
    background-color: #fff;
}

.header__lang-btn_active {
    width: 35px;;
    height: 30px;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 3px;
    background-color: black;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}

.header__lang-btn_active:last-of-type {
    margin-right: 0;
}

.header__message-pic {
    width: 30px;
    height: 30px;
    background-image: url(../../images/messagepic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__message-pic:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.header_link-message-container {
    position: relative;
}

.header__messages-badge {
    border-radius: 50%;
    background-color: #cc2b1d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 8px;
}

.header__burger-menu {
    display: none;
    position: relative;
}

.header_logo-img {
    width: 70px;
    height: 70px;
    background-image: url(../../images/goodslogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header_logo-name {
    color: rgb(127, 127, 197);
}

.header__burger-menu-messages-badge {
    border-radius: 50%;
    background-color: #cc2b1d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 8px;
}

@media screen and (max-width: 950px) {
  .header__burger-menu {
    display: flex;
    background-image: url(../../images/burgermenuicon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .header_logo {
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (max-width: 360px) {
  .header_container {
    height: 60px;
  }
  
  .header_logo-img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 310px) {
  .header_logo {
    font-size: 14px;
  }
}

@media screen and (max-width: 276px) {
  .header_logo {
    font-size: 10px;
  }
}

