.oneAdd__container {
    list-style-type: none;
    box-shadow: 0 3px 6px #999;
    border-radius: 10px;
    padding: 10px;
    
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 900px) {
    .oneAdd__container {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .oneAdd__container {
        width: 140px;
        
        padding: 8px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 450px) {
    .oneAdd__container {
        width: 130px;
        width: 45%;
    }
}

.oneAdd__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 90px;
}
.oneAdd__title-and-like-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
}

.oneAdd__title {
    margin: 0;
    margin-top: 5px;
    width: 90%; /* ширина 80% от контейнера */
    overflow: hidden; /* скрыть текст, который не влезает */
    text-overflow: ellipsis; /* добавить многоточие */
    display: -webkit-box; /* для поддержки многопоточности */
    -webkit-box-orient: vertical; /* вертикальная ориентация */
    -webkit-line-clamp: 2; /* максимальное количество строк */
    line-height: 1.2; /* высота строки для лучшего отображения */
    max-height: 2.4em;
    text-decoration: none;
    color: black;
    font-weight: 400;
    cursor: pointer;
    opacity: 1;
    font-size: 14px;
    text-align: left;
}

.oneAdd__title:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .oneAdd__title {
        font-size: 12px;
    }
}

.oneAdd__like-btn {
    background-image: url('../../images/emptyheart.png');
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;

    margin-right: 1px;

    position: absolute;
    top: 3px;
    right: 3px;
}

.oneAdd__like-btn:hover {
    background-image: url('../../images/like.png');
}

.oneAdd__like-btn_activ {
    background-image: url('../../images/like.png');
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;

    margin-right: 1px;

    position: absolute;
    top: 3px;
    right: 3px;
}

.oneAdd__like-btn_activ:hover {
    background-image: url('../../images/emptyheart.png');
}

.oneAdd__delete-btn {
    background-image: url('../../images/deleteBtn.png');
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;

    position: absolute;
    top: 3px;
    right: 3px;
}

.oneAdd__delete-btn:hover {
    opacity: 0.7;
}

.oneAdd__price {
    margin-top: 5px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 12px;
}
.oneAdd__city {
    margin-top: 5px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 12px;
}

.oneAdd__time {
    margin-bottom: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .oneAdd__time {
        font-size: 10px;
    }
}

.oneAdd__pic-and-info-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .oneAdd__pic-and-info-container {
        flex-direction: column;
    }
}

.oneAdd__main-pic-wrapper {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .oneAdd__main-pic-wrapper {
        /*width: 100px;
        height: 100px;*/
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 500px) {
    .oneAdd__main-pic-wrapper {
        margin-right: 0;
    }
}

.oneAdd__no-pic {
   width: 30px;
   height: 30px;
}

.oneAdd__main-pic {
    /*width: 196px;
    object-fit: cover; 
    height: 170px;
    border: none;
    border-radius: 10px;*/
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
    border-radius: 10px;
}

.oneAdd__badge-free {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(233, 6, 146);
    position: absolute;
    right: 0;
    top: -7px;
    /*width: 80px;
    height: 20px;*/
    background-color: rgb(236, 91, 181);/*rgb(243, 43, 166);*/
    box-shadow: 0 3px 6px rgb(235, 182, 213);
    color: #fff;
    font-size: 8px;
    padding: 3px;
}

.oneAdd__message-btn {
  width: 20px;
  height: 20px;
  background-image: url(../../images/messagepic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oneAdd__message-btn:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.oneAdd__message-btn-text {
    margin: 0;
    font-size: 8px;
    text-align: start;
}

.oneAdd__btn {
    /*margin-top: 15px;*/
    cursor: pointer;
    border: none;
    border: 1px solid rgb(91, 166, 189);
    background-color: transparent;
    font-size: 8px;
    border-radius: 30px;
    height: 25px;
}

.oneAdd__btn:hover {
    background-color: rgb(104, 175, 223);
    color: #fff;
}

.oneAdd__container-msg-text {
    margin-top: 10px;
}

.oneAdd__reserved-btn {
    margin-top: 15px;
    cursor: pointer;
    border: 1px solid rgb(91, 166, 189);
    border-radius: 30px;
    font-size: 8px;
    height: 25px;
    background-color: transparent;
}

.oneAdd__reserved-btn:hover {
    background-color: rgb(104, 175, 223);
    color: #fff;
}

.oneAdd__reserved-text {
    font-size: 8px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}