.userPage_main-container {
    min-height: 80vh;
}

.userPage__message-pic {
    width: 25px;
    height: 25px;
    background-image: url(../../images/messagepic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
}

.userPage__message-pic:hover {
    opacity: 0.7;
} 

.userPage__message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPage-user-info-container {
    display: flex;
    max-width: 700px;
    justify-content:space-between; 
    align-items: center;
    margin: auto;
    padding: 10px;
}

.userPage-user-info-pic {
    border-radius: 50%;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
}

.userPage-user-info-name {
    max-width: 150px;
}
