.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.back-btn {
  cursor: pointer;
  text-align: start;
  
  font-size: 12px;
  padding: 10px;
  padding-right: 0;
  max-width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.back-btn:hover {
  opacity: 0.7;
}