.cardPage__favorite-btn {
    border-radius: 30px;
    height: 35px;
    width: 125px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    margin: 5px;
    margin-left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardPage__write-message-btn {
    border-radius: 30px;
    height: 35px;
    width: 125px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPage__favorite-btn:hover {
    background-color: black;
    color: #fff;
}

.cardPage__write-message-btn:hover {
    background-color: black;
    color: #fff;
}

.cardPage-img-container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.cardPage-container {
    display: flex;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    width: 100%;
}

.cardPage-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.cardPage-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    margin: 0;
    margin-left: 0;
}

.cardPage-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 20px);
    margin: auto;
    box-sizing: border-box;
}

.cardPage-info {
    font-weight: 600;
    margin-bottom: 0;
    text-align: start;
}

.cardPage-info-title {
    margin-top: 0;
    text-align: start;
}

.cardPage-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
    opacity: 0.7;
}

.cardPage-link:hover {
    opacity: 1;
}

.cardPage__btn-container {
    display: flex;
    align-self: flex-start;
    gap: 10px;
    margin-top: 5px;
}

.cardPage-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.cardPage-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cardPage__info-about-user {
    margin-bottom: 16px;
    display: flex;
    align-self: flex-start;
}

.cardPage__main-pic-wrapper {
    min-width: 350px;
    min-height: 350px;
    width: fit-content;
    min-height: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.cardPage__main-pic {
    width: fit-content;
    height: fit-content;
    object-fit: contain; 
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px #999;
    align-self: flex-start;
}

.cardPage__no-pic {
    width: 80px;
    height: 80px;
    display: flex;
    align-self: flex-start;
    margin: 30px;
    
}

.cardPage-description-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    align-self: flex-start;
}

.cardPage-info-description {
    text-align: start;
}

.cardPage__reserved-text {
    font-weight: 600;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    width: 75%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 25px;
}

.cardPage-edit-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.cardPage-edit-icon:hover {
    opacity: 1;
}

.cardPage-info-edit-container {
    display: flex;
}

.cardPage-edit-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 16px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPage-edit-btn-description {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 16px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPage-add-description {
    margin-left: 10px; 
}

@media screen and (max-width: 800px) {
    .cardPage-container {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .cardPage-info-container {
        margin-left: 0;
        margin-top: 30px;
    }


}

@media screen and (max-width: 600px) {
    .cardPage-image {
        max-width: 100%;
    }

    .cardPage__main-pic-wrapper {
        margin-right: 0;
        margin-bottom: 25px;
        max-width: 100%;
        min-width: 200px;
        min-height: 200px;
    }  

    .cardPage__main-pic {
        max-width: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 380px) {
    .cardPage__main-pic {
        max-width: 250px;
        max-height: 250px;
    }
}