.image-slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image-slider__wrapper {
    position: relative;
    border-radius: 10px;
  }
  
  .image-slider__image {
    width: 100%;
    height: 250px;
    border: none;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .image-slider__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f1f1f1;
    color: white;
    border: 1px solid rgb(170, 168, 168);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .image-slider__button--prev {
    left: 5px;
  }
  
  .image-slider__button--next {
    right: 5px;
  }
  